.submit-button-ui {
  padding: 8px;
  font-weight: 500;
  border: none;
  border-radius: 7px;
  color: #fff;
  background-color: #16181A;
  box-shadow: inset 0px -7px 20px 3px rgba(255, 255, 255, 0.15);
  cursor: pointer;

  &:hover { box-shadow: inset 0px -7px 20px 3px rgba($color: #fff, $alpha: 0.18); }
}
