.auth-page {
  display: flex;
  flex-direction: column;
  gap: 25px;

  h2 {
    font-weight: 550;
    color: #9C9E9F;
    br { line-height: 40px; }
    &::first-line { color: #16181A; }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .text-input-ui {
      display: flex;
      input { flex: 1; }
    }

    button { margin-top: 10px; }
  }

  hr {
    border: 0;
    height: 0;
    border-top: 0.2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.2px solid rgba($color: #9C9E9F, $alpha: 0.05);
  }

  .terms-use-and-private-policy-message {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 350;
    color: #9C9E9F;
    br { line-height: 30px; }
    span { color: black; }
  }
}
