.auth-page {
  display: flex;
  flex-direction: column;
  gap: 25px;

  h2 {
    font-weight: 550;
    color: #9C9E9F;
    br { line-height: 40px; }
    &::first-line { color: #16181A; }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .back-container {
      margin-bottom: 10px;
      display: flex;
      gap: 7px;
      align-items: center;
      cursor: pointer;
      width: 70px;
      a {
        font-size: 0.85rem;
      }
      &:hover {
        transform: translateX(-2px) !important;
      }
    }
    .text-input-ui {
      display: flex;
      input { flex: 1; }
    }
    button { margin-top: 10px; }
    .password-validation-feature {
      flex: 1;
    }
    .errorMessage {
      text-align: center;
      font-size: 0.85rem;
      margin-top: 10px;
      color: red;
    }
  }

  hr {
    border: 0;
    height: 0;
    border-top: 0.2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.2px solid rgba($color: #9C9E9F, $alpha: 0.05);
  }

  .terms-use-and-private-policy-message {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 350;
    color: #9C9E9F;
    br { line-height: 30px; }
    span { color: #16181A; }
  }
}

// Animations
.auth-page {
  transform: translateX(-40px);
  animation: slide-in 0.6s forwards, fade-in 1.4s;
}

.back-container, .text-input-ui, button, .password-validation-feature {
  transform: translateX(-40px);
  animation: slide-in 0.6s forwards;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-in {
  to { transform: translateX(0); }
}
