.text-input-ui {
  background-color: #fff;
  padding: 2px;
  border-radius: 7px;
  border: 1px solid rgba($color: #9C9E9F, $alpha: 0.35);

  input {
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 5px 10px;
    color: #16181A;
    &:focus { border: 2px solid rgba($color: #16181A, $alpha: 1); }
    &:disabled { color: #9C9E9F; }
    &::placeholder { color: rgba($color: #9C9E9F, $alpha: 0.7); }
  }
}
