.password-validation-feature {
  background-color: red;
  border-radius: 5px;
  background-color: rgba($color: #9C9E9F, $alpha: 0.15);
  display: flex;
  flex-direction: column;
  padding: 11px 12px;
  gap: 15px;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-size: 0.8rem;
      font-weight: 470;
    }
    &.not-valid {
      svg { stroke: #E57373; }
      p { 
        color: #E57373; 
        font-weight: 250;
      }
    }
  }
}
